[submodule "backend"]
	path = backend
	url = https://github.com/BoldFlame-Enterprises/sportgate-backend.git
[submodule "web-dashboard"]
	path = web-dashboard
	url = https://github.com/BoldFlame-Enterprises/sportgate-dashboard.git
[submodule "sportgate-pass"]
	path = verigate-pass
	url = https://github.com/BoldFlame-Enterprises/verigate-pass.git
[submodule "sportgate-scan"]
	path = verigate-scan
	url = https://github.com/BoldFlame-Enterprises/verigate-scan.git
